html,
body {
    background-color: #fff;
}

nav {
    background-color: #b9c5d1;
}

.buytext {
    color: #8ec919;
}

.selltext {
    color: #ff007a;
}

#user-orders .buy-price,
#user-history .buy-price,
#trade-history .buy-price {
    color: #8ec919;
}

#user-orders .sell-price,
#user-history .sell-price,
#trade-history .sell-price {
    color: #ff007a;
}

#user-orders .amount,
#user-history .amount,
#trade-history .amount {
    color: #cdcdcd;
}

#user-orders .date,
#user-history .date,
#trade-history .date {
    color: #595d61;
}