#row1 {
	min-height: 550px;
}

#row2 {
	min-height: 200px;
}

#row3 {
	min-height: 300px;
}

.tradingview-widget-container,
#tradingview_3ebbc {
	min-height: 300px
}

/* TABLE STYLES */

#pair-menu>table>tbody {
	max-height: 500px;
}

#pair-menu>table,
#order-book>table,
#market-history>table {
	font-size: 0.65em;
}

#pair-menu>table th,
#pair-menu>table td,
#order-book>table th,
#order-book>table td,
#market-history>table th,
#market-history>table td {
	padding: 0;
}

#user-history>table>tbody,
#user-orders>table>tbody {
	max-height: 275px;
}

#market-history>table>tbody {
	max-height: 550px;
}

#order-book>table>tbody {
	max-height: 275px;
}

tbody {
	display: block;
	height: 100%;
	overflow: auto;
}

thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

thead {
	width: calc( 100% - 1em)
}

/* TABLE STYLES */