
html, body {
    background-color: #262d33;
}

nav {
    background-color: #26282a;
}

#col-right, #col-center, #col-right {
    min-height: 200px;
}

#col-right {

}

#col-left {

}




#tradingview_3ebbc {
    height: 400px
}


#order-book,
#order-history {
    height: 550px;
}

#order-history > div{
    height: 100%;
    overflow-y: scroll;
}


#order-book .table {
    margin-bottom: 0;
}

#order-book .table td,
#order-book .table th ,
#order-history .table td,
#order-history .table th{
    padding: 0;
    width: 33%;
}

#order-book .table, #order-history .table {
    font-size: 0.7em;
}

#order-book-buys,
#order-book-sells {
    height: 50%;
    overflow-y: scroll;
}

#buy-sell-widget {
    margin-top:28px
}

.buytext{
    color:#8ec919;
}

.selltext{
    color:#ff007a;
}
