#row1 {
	min-height: 550px;
}

#row2 {
	min-height: 200px;
}

#row3 {
	min-height: 300px;
}

.clickable {
	cursor: pointer;
}

.tradingview-widget-container,
#tradingview_3ebbc {
	min-height: 300px
}

/* TABLE STYLES */

#order-book>table td span {
	position: relative;
	z-index: 2;
}

#book_buys .bar,
#book_sells .bar {
	position: absolute;
	z-index: 1;
	min-height: 100%;
	min-width: 1px;
}

#pair-menu>table>tbody {
	max-height: 500px;
}

#pair-menu>table,
#order-book>table,
#market-history>table {
	font-size: 0.65em;
}

#user-history>table th,
#user-history>table td,
#user-orders>table th,
#user-orders>table td {
	padding: 1px 0 1px 0;
}

#pair-menu>table th,
#pair-menu>table td,
#order-book>table th,
#order-book>table td,
#market-history>table th,
#market-history>table td {
	padding: 0;
}

#user-history>table>tbody,
#user-orders>table>tbody {
	max-height: 275px;
}

#market-history>table>tbody {
	max-height: 550px;
}

#order-book>table>tbody {
	min-height: 275px;
	max-height: 275px;
}

tbody {
	display: block;
	height: 100%;
	overflow: auto;
}

thead,
tbody tr {
	display: table;
	width: 100%;
	table-layout: fixed;
}

thead {
	width: calc( 100% - 1em)
}

/* TABLE STYLES */